In [30]:
person = {"name":"mjk","age":20,"qualifications":"B.Tech"}
print(person["qualifications"])
print(person["age"])
print(person.get("age"))
print(type(person))
x=person.keys
print(x)

B.Tech
20
20
<class 'dict'>
<built-in method keys of dict object at 0x760f3f256a00>

In [8]:
list1=["name","age","qualifications"]
list2=["mjk",20,"B.Sc"]
#dict(list1,list2)

In [22]:
person2 = dict(name="ln",age=100,qualifications="PhD")
print(person2)

{'name': 'ln', 'age': 100, 'qualifications': 'PhD'}

In [23]:
import pandas as pd
X=pd.Series(person)
Y=pd.Series(person2)
#print(X)
D = pd.DataFrame(X)
D

                     0
name               mjk
age                 20
qualifications  B.Tech